body{
    background-color: rgb(20, 20, 20);
}

.box{
    margin-left: 20%;
    margin-top: 5%;
    background-color: black;
    width: 60vw;
    height: 75vh;
    color: red;
    border: 5px;
    border-color: rgb(105, 105, 105);
    border-style: dashed;
}

.snake{
    background-color: brown;
    width: 7px;
    height: 7px;
    border: 1px;
    border-color: gray;
    border-style: solid;
    border-radius: 4px;
    margin-left: 40px;
}


.ball{
    background-color: steelblue;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 1px;
    border-color: steelblue;
    border-style: solid;
    margin: 50px;
}
