body {
    background-color: rgb(20, 20, 20);
}

.lienzo {
    margin-left: 20%;
    margin-top: 5%;
    border: 5px;
    border-color: black;
    border-style: dashed;
}

.snake {
    background-color: brown;
    width: 7px;
    height: 7px;
    border: 1px;
    border-color: gray;
    border-style: solid;
    border-radius: 4px;
    margin-left: 40px;
}


.ball {
    background-color: steelblue;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 1px;
    border-color: steelblue;
    border-style: solid;
    margin: 50px;
}

.title {
    color: springgreen;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: oblique;
    float: left;
    position: fixed;
    text-decoration-line: overline;
    text-decoration-style: dashed;
}


.game-over {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.473);
    width: 61%;
    height: 76%;
    margin-left: 20%;
    margin-top: 4%;
    display: none;
}

.title-game-over {
    color: springgreen;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-top: 15%;
}

.btn-new {
    background-color: rgb(17, 209, 113);
    border: 0px;
    border-radius: 2px;
    padding: 5px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 43%;
    margin-top: 10px;
    cursor: pointer;
}

.btn-new:hover {
    background-color: springgreen;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}


.play-game {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.26);
    width: 61%;
    height: 76%;
    margin-left: 20%;
    margin-top: 5%;
    display: block;
}

.title-game-play {
    color: springgreen;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-top: 20%;
}

.btn-play {
    background-color: rgb(17, 209, 113);
    border: 0px;
    border-radius: 2px;
    padding: 5px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 46%;
    margin-top: 10px;
    cursor: pointer;
}

.btn-play:hover {
    background-color: springgreen;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

.pause-game {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.26);
    width: 61%;
    height: 76%;
    margin-left: 20%;
    margin-top: 5%;
    display: none;
}

.title-game-pause {
    color: springgreen;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-top: 20%;
}

.btn-resume {
    background-color: rgb(17, 209, 113);
    border: 0px;
    border-radius: 2px;
    padding: 5px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 46%;
    margin-top: 10px;
    cursor: pointer;
}

.btn-resume:hover {
    background-color: springgreen;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}


.settings {
    position: absolute;
    display: block;
    margin-top: 6%;
    color: white;
    font-size: x-small;
    font-family: 'Courier New', Courier, monospace;
    /* background-color: red; */
}

.title-settings {
    text-align: center;
}

.btnSaveSettings {
    display: block;
    margin-left: 25%;
    margin-top: 10%;
    background-color: gray;
    border: 0;
    border-radius: 5px;
}

label {
    display: block;
}

.data-game {
    position: absolute;
    display: inline-block;
}

.score {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    margin-top: 100px;
}

.title-score {
    color: salmon;
    font-weight: bold;
    display: inline;
}

.num-score {
    display: inline;
    color: salmon;
}

.money {
    margin-left: 10px;
}

.ballsm {
    display: inline-block;
    background-color: rgb(12, 12, 180);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 10px;
}

.ballmd {
    display: inline-block;
    background-color: rgb(199, 16, 16);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 10px;
    margin-left: 15px;
}


.ballcoins {
    display: inline-block;
    background-color: springgreen;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 10px;
    margin-left: 15px;
}

.text-money {
    position: fixed;
    margin-left: 10px;
    font-size: larger;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    height: 50px;
}

.text-ballsm,
.text-ballmd,
.text-ballcoins {
    color: white;
    display: inline-block;
    margin: 15px;
    margin-top: 0px;
}

.new-score-summ {
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: none;
}

.summary {
    margin-bottom: 3%;
}

.text-summary {
    color: rgb(160, 160, 160);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.table-summary {
    color: white;
    text-align: center;
    margin-left: 40%;
    font-family: 'Courier New', Courier, monospace;
}

.sum-ballsm {
    display: inline-block;
    background-color: rgb(12, 12, 180);
    width: 20px;
    height: 20px;
    border-radius: 30px;
    margin: 10px;
}

.sum-ballmd {
    display: inline-block;
    background-color: rgb(199, 16, 16);
    width: 20px;
    height: 20px;
    border-radius: 30px;
    margin: 10px;
    margin-left: 15px;
}

.sum-ballcoins {
    display: inline-block;
    background-color: springgreen;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    margin: 10px;
    margin-left: 15px;
}

.div-progress {
    margin-top: 50%;
    margin-left: 15px;
}


.title-progress {
    text-align: center;
    color: white;
    font-size: x-small;
    font-family: 'Courier New', Courier, monospace;
}

.progress {
    color: white;
    background-color: black;
    height: 20px;
}

.bar-progress {
    width: 0%;
    background-color: mediumslateblue;
    height: 20px;
}

.life-ball {
    display: none;
    margin-top: 10%;
    color: white;
    background-color: black;
    height: 20px;
}

.bar-life-ball {
    width: 100%;
    background-color: springgreen;
    height: 20px;
}

.level-completed {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.473);
    width: 61%;
    height: 76%;
    margin-left: 20%;
    margin-top: 4%;
    display: none;
}

.title-level-completed {
    color: springgreen;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-top: 15%;
}

.btn-next {
    background-color: rgb(17, 209, 113);
    border: 0px;
    border-radius: 2px;
    padding: 5px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 43%;
    margin-top: 10px;
    cursor: pointer;
}

.btn-next:hover {
    background-color: springgreen;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}
